/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.btn {
  background-color: rgba(35, 211, 211, 0.8);
  color: white;
  font-size: 1.6rem;
  font-weight: 100;
  border-radius: 30px;
  width: 80px;
  padding: 10px 0;
  text-align: center;
}
.btn:hover {
  background-color: rgba(35, 211, 211, 0.5);
}
@font-face {
  font-family: 'Noto Serif SC';
  font-style: normal;
  font-weight: 700;
  src: local('Noto Serif SC Bold'), local('NotoSerifSC-Bold'), url(https://fonts.gstatic.com/s/notoserifsc/v2/H4c8BXePl9DZ0Xe7gG9cyOj7mhqzezdLEA.otf) format('opentype');
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
a {
  font-family: sans-serif;
  text-decoration: none;
}
h1 {
  font-family: sans-serif;
  font-size: 4.5rem;
}
h2 {
  font-family: sans-serif;
  font-size: 1.6rem;
}
h3 {
  font-family: sans-serif;
  font-size: 2rem;
}
h6 {
  font-family: sans-serif;
  font-size: 2rem;
}
p {
  font-family: sans-serif;
  font-size: 1.6rem;
}
.container {
  padding: 0 1%;
}
@media (min-width: 800px) {
  .container {
    margin: auto;
    max-width: 1000px;
  }
}
.main-header {
  height: 65px;
  padding: 18px 2% 0;
}
.main-header .header-container {
  display: flex;
  justify-content: space-between;
}
@media (min-width: 800px) {
  .main-header .header-container {
    margin: auto;
    max-width: 1000px;
  }
}
.main-header .header-container .menu {
  display: flex;
  flex-direction: column;
}
.main-header .header-container .menu .menu-icon {
  height: 30px;
  width: 30px;
}
.main-header .header-container .menu nav {
  display: none;
  margin-top: 50px;
}
.main-header .header-container .login {
  background-color: rgba(35, 211, 211, 0.8);
  color: white;
  font-size: 1.6rem;
  font-weight: 100;
  border-radius: 30px;
  width: 80px;
  padding: 10px 0;
  text-align: center;
}
.main-header .header-container .login:hover {
  background-color: rgba(35, 211, 211, 0.5);
}
.landing {
  margin: 50px 0 100px 0;
}
@media (min-width: 800px) {
  .landing {
    display: flex;
  }
}
.landing .landing-cta {
  background-color: #F1F2F6;
  margin-top: 120px;
  padding-bottom: 120px;
  position: relative;
}
@media (min-width: 800px) {
  .landing .landing-cta {
    width: 50%;
  }
}
.landing .landing-cta h1 {
  color: #100249;
  font-family: 'Noto Serif SC', serif;
  margin-top: -20px;
  left: 0;
  position: absolute;
  right: 0;
  text-align: center;
}
.landing .landing-cta h3 {
  color: #100249;
  font-family: 'Noto Serif SC', serif;
  line-height: 1.3;
  padding-top: 60px;
  text-align: center;
}
.landing .landing-cta p {
  color: #444444;
  margin-top: 20px;
  text-align: center;
}
.landing .landing-cta svg {
  display: block;
  margin: auto;
  margin-top: 60px;
}
@media (min-width: 800px) {
  .landing .landing-asset {
    order: 1;
    display: block;
    width: 50%;
  }
}
.landing .landing-asset svg {
  display: block;
  margin: auto;
  max-height: 400px;
}
.reviews .review {
  display: none;
}
.reviews .active {
  display: block;
  line-height: 1.3;
  min-width: 300px;
  margin: auto;
  text-align: center;
}
.reviews .active p {
  font-weight: bold;
  margin-top: 10px;
}
.reviews .review-controls {
  display: flex;
  justify-content: space-between;
  margin: auto;
  margin-top: 70px;
  max-width: 200px;
  text-align: center;
  width: 70%;
}
.reviews .review-controls .tab {
  border: 1px solid black;
  border-radius: 50%;
  cursor: pointer;
  height: 10px;
  width: 10px;
}
.features .feature {
  margin-top: 100px;
}
@media (min-width: 500px) {
  .features .feature {
    align-items: center;
    display: flex;
  }
}
@media (min-width: 500px) {
  .features .feature .feature-asset {
    width: 50%;
  }
}
.features .feature .feature-asset svg {
  display: block;
  height: auto;
  margin: auto;
  width: 100%;
}
@media (min-width: 500px) {
  .features .feature .feature-copy {
    width: 50%;
  }
}
@media (min-width: 500px) {
  .features .feature:nth-child(even) .feature-asset {
    order: 1;
  }
}
.team {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: auto;
  min-width: 400px;
  width: 70%;
}
.team h3 {
  width: 100%;
  text-align: center;
}
.team article img {
  border-radius: 50%;
  display: block;
  max-width: 80px;
  margin: auto;
}
.team article h3 {
  text-align: center;
}
.team article p {
  text-align: center;
}
.team .flex-30 {
  margin-top: 40px;
  width: 30%;
}
.team .flex-50 {
  margin-top: 40px;
  width: 50%;
}
.cta {
  margin-top: 100px;
}
.footer {
  height: 100px;
  margin-top: 100px;
}
.footer .icons {
  border: 1px solid red;
  display: flex;
  justify-content: space-around;
  margin: auto;
  max-width: 150px;
  width: 100%;
}
.footer .icons a {
  height: 30px;
  width: 30px;
}
.footer p {
  margin-top: 40px;
  text-align: center;
}
