/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
@font-face {
  font-family: 'Libre Baskerville';
  font-style: normal;
  font-weight: 400;
  src: local('Libre Baskerville'), local('LibreBaskerville-Regular'), url(https://fonts.gstatic.com/s/librebaskerville/v5/kmKnZrc3Hgbbcjq75U4uslyuy4kn0qNZaxY.ttf) format('truetype');
}
* {
  box-sizing: border-box;
}
body {
  font-family: -apple-system, 'Verdana', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}
html {
  font-size: 62.5%;
}
a {
  font-size: 1.6rem;
  text-decoration: none;
}
h1 {
  font-size: 4.5rem;
}
h2 {
  font-size: 2.5rem;
}
h3 {
  font-size: 2rem;
}
h6 {
  font-size: 1.8rem;
}
p {
  font-size: 1.6rem;
}
.container {
  padding: 0 1%;
}
@media (min-width: 800px) {
  .container {
    margin: auto;
    max-width: 1024px;
  }
}
.main-header {
  background-color: white;
  position: fixed;
  width: 100%;
  height: 80px;
  top: 0;
  z-index: 99999;
}
.main-header .header-container {
  display: flex;
  justify-content: space-between;
  position: relative;
}
@media (min-width: 800px) {
  .main-header .header-container {
    margin: auto;
    max-width: 1024px;
  }
}
.main-header .header-container img {
  height: 80px;
  margin-left: 10px;
  width: 80px;
}
@media (min-width: 800px) {
  .main-header .header-container .menu {
    display: flex;
    align-items: baseline;
    margin-top: 16px;
  }
}
.main-header .header-container .menu .arrow {
  display: inline-block;
  height: 30px;
  line-height: 80px;
  margin-right: 30px;
  vertical-align: middle;
  width: 30px;
}
.main-header .header-container .menu .arrow:hover {
  cursor: pointer;
}
@media (min-width: 800px) {
  .main-header .header-container .menu .arrow {
    display: none;
  }
}
.main-header .header-container .menu .arrow-down {
  background: url(../assets/angle-down-regular.svg) center center no-repeat;
}
.main-header .header-container .menu .arrow-up {
  background: url(../assets/angle-up-regular.svg) center center no-repeat;
}
.main-header .header-container .menu nav {
  background-color: white;
  display: none;
  justify-content: space-evenly;
  bottom: -36px;
  left: 0;
  right: 0;
  position: absolute;
}
@media (min-width: 800px) {
  .main-header .header-container .menu nav {
    display: inline-block;
    bottom: initial;
    left: initial;
    right: initial;
    position: relative;
  }
}
.main-header .header-container .menu nav a {
  color: #100249;
  padding: 0px 0 20px;
}
@media (min-width: 800px) {
  .main-header .header-container .menu nav a {
    margin-right: 80px;
  }
}
.main-header .header-container .menu .login {
  background-color: #1e9df7;
  color: white;
  font-size: 1.6rem;
  font-weight: 100;
  border-radius: 30px;
  width: 80px;
  padding: 10px 20px;
  text-align: center;
  line-height: 70px;
  margin-right: 10px;
}
.main-header .header-container .menu .login:hover {
  background-color: rgba(30, 157, 247, 0.8);
}
@media (min-width: 800px) {
  .main-header .header-container .menu .login {
    line-height: initial;
  }
}
.landing {
  margin: 135px 0 0 0;
}
@media (min-width: 600px) {
  .landing {
    display: flex;
  }
}
.landing .landing-cta {
  background-color: #F1F2F6;
  margin-top: 20px;
  padding-bottom: 120px;
  position: relative;
}
@media (min-width: 600px) {
  .landing .landing-cta {
    background-color: initial;
    margin-top: 0;
    width: 50%;
  }
}
@media (min-width: 800px) {
  .landing .landing-cta {
    width: 60%;
  }
}
.landing .landing-cta:before {
  background-image: linear-gradient(to top, #F1F2F6, #ffffff);
  display: block;
  height: 100px;
  content: "";
  width: 100%;
}
@media (min-width: 600px) {
  .landing .landing-cta:before {
    display: none;
  }
}
.landing .landing-cta h1 {
  color: #100249;
  font-family: 'Libre Baskerville', serif;
  margin-top: -20px;
  text-align: center;
}
@media (min-width: 600px) {
  .landing .landing-cta h1 {
    margin-top: 30px;
  }
}
.landing .landing-cta h3 {
  color: #100249;
  font-family: 'Libre Baskerville', serif;
  line-height: 1.3;
  padding-top: 60px;
  text-align: center;
}
@media (min-width: 600px) {
  .landing .landing-cta h3 {
    padding-top: 50px;
  }
}
@media (min-width: 800px) {
  .landing .landing-cta h3 {
    padding-top: 60px;
  }
}
.landing .landing-cta p {
  color: #444444;
  margin-top: 20px;
  text-align: center;
}
@media (min-width: 600px) {
  .landing .landing-cta p {
    margin-top: 10px;
  }
}
@media (min-width: 800px) {
  .landing .landing-cta p {
    margin-top: 20px;
  }
}
.landing .landing-cta svg {
  display: block;
  margin: auto;
  margin-top: 60px;
}
@media (min-width: 600px) {
  .landing .landing-cta svg {
    margin-top: 30px;
  }
}
@media (min-width: 800px) {
  .landing .landing-cta svg {
    margin-top: 60px;
  }
}
@media (min-width: 600px) {
  .landing .landing-asset {
    order: 1;
    width: 50%;
  }
}
@media (min-width: 800px) {
  .landing .landing-asset {
    display: block;
    width: 40%;
  }
}
.landing .landing-asset svg {
  display: block;
  margin: auto;
  max-height: 400px;
  max-width: 100%;
}
.reviews {
  background-color: #F1F2F6;
  padding-top: 100px;
}
@media (min-width: 600px) {
  .reviews {
    padding-top: 0px;
  }
}
@media (min-width: 600px) {
  .reviews:before {
    background-image: linear-gradient(to top, #F1F2F6, #ffffff);
    display: block;
    height: 200px;
    content: "";
    width: 100%;
  }
}
.reviews:after {
  background-image: linear-gradient(to bottom, #F1F2F6, #ffffff);
  display: block;
  height: 200px;
  content: "";
  width: 100%;
}
.reviews .review {
  display: none;
}
.reviews .review-active {
  display: block;
  line-height: 1.3;
  margin: auto;
  text-align: center;
}
.reviews .review-active p {
  font-weight: bold;
  margin-top: 10px;
}
.reviews .review-controls {
  display: flex;
  justify-content: space-between;
  margin: auto;
  margin-top: 70px;
  max-width: 200px;
  text-align: center;
  width: 70%;
}
.reviews .review-controls .tab {
  background-color: #23d3d3;
  border-radius: 50%;
  cursor: pointer;
  height: 12px;
  width: 12px;
}
.reviews .review-controls .tab-active {
  background-color: white;
  border: 2px solid #23d3d3;
}
.features .feature {
  margin-top: 100px;
}
@media (min-width: 500px) {
  .features .feature {
    align-items: center;
    display: flex;
  }
}
@media (min-width: 500px) {
  .features .feature .feature-asset {
    width: 50%;
  }
}
@media (min-width: 800px) {
  .features .feature .feature-asset {
    width: 40%;
  }
}
.features .feature .feature-asset svg {
  display: block;
  height: auto;
  margin: auto;
  width: 70%;
}
@media (min-width: 800px) {
  .features .feature .feature-asset svg {
    width: 100%;
  }
}
@media (min-width: 500px) {
  .features .feature .feature-copy {
    width: 50%;
  }
}
@media (min-width: 800px) {
  .features .feature .feature-copy {
    padding: 10px;
    width: 60%;
  }
}
.features .feature .feature-copy h2 {
  font-family: sans-serif;
  margin-top: 30px;
  text-align: center;
}
@media (min-width: 500px) {
  .features .feature .feature-copy h2 {
    font-size: 2rem;
    margin-top: initial;
  }
}
@media (min-width: 800px) {
  .features .feature .feature-copy h2 {
    font-size: 2.5rem;
  }
}
.features .feature .feature-copy p {
  line-height: 1.4;
  margin: auto;
  margin-top: 20px;
  text-align: center;
  width: 80%;
}
@media (min-width: 500px) {
  .features .feature .feature-copy p {
    font-size: 1.6rem;
  }
}
@media (min-width: 800px) {
  .features .feature .feature-copy p {
    font-size: 1.8rem;
    line-height: 1.3;
  }
}
@media (min-width: 500px) {
  .features .feature:nth-child(even) .feature-asset {
    order: 1;
  }
}
.main-footer {
  margin-top: 100px;
  padding-bottom: 100px;
}
.main-footer .team {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: auto;
  width: 100%;
}
@media (min-width: 500px) {
  .main-footer .team {
    width: 70%;
  }
}
.main-footer .team h3 {
  text-align: center;
  width: 100%;
}
.main-footer .team h6 {
  margin-top: 10px;
  text-align: center;
  width: 100%;
}
.main-footer .team p {
  font-size: 1.4rem;
  margin-top: 5px;
}
.main-footer .team article img {
  border-radius: 50%;
  display: block;
  max-width: 80px;
  margin: auto;
}
.main-footer .team article h3 {
  text-align: center;
}
.main-footer .team article p {
  text-align: center;
}
.main-footer .team .flex-30 {
  margin-top: 40px;
  width: 30%;
}
.main-footer .team .flex-50 {
  margin-top: 40px;
  width: 50%;
}
.footer {
  height: 100px;
}
.footer .icons {
  display: flex;
  justify-content: space-around;
  margin: auto;
  max-width: 150px;
  width: 100%;
}
.footer .icons a {
  color: black;
  height: 30px;
  width: 30px;
}
.footer p {
  margin-top: 40px;
  text-align: center;
}
