.reviews {
    article {
        display: none;
    }

    .placeholder {
        display: block;
        min-width: 300px;
        margin: auto;
        max-width: 500px;
        text-align: center;
        width: 70%;

        h6 {
            // Placeholder
        }

        p {
            margin-top: 10px;
        }
    }
}