@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville');



// Media
@min500: ~"(min-width: 500px)";
@min600: ~"(min-width: 600px)";
@min800: ~"(min-width: 800px)";
@min1000: ~"(min-width: 1024px)";

// Theme Colors
@blue: rgba(30, 157, 247, 1);
@blue-opaque: rgba(30, 157, 247, 0.8);
@light-gray: rgba(241, 245, 249, 1);
@gray: rgba(119, 119, 119, 1);

// Colors
@black: black;
@yellow: yellow;
@green: green;
@red: red;
@white: white;

// Colors
@everton: #100249;
@grey: #444444;
@not-quite-grey: #F1F2F6;

// Color assignments
@border: @black;

// @button-bg:  rgba(35, 211, 211, 0.8);
@button-bg: @blue;
// @button-bg-hover:  rgba(35, 211, 211, 0.5);
@button-bg-hover: @blue-opaque;
@tab-bg:  rgb(35, 211, 211);
@button-border: @red;
@button-color: @white;
@font-color: @black;
@landing-header: @everton;
@landing-secondary: @grey;
@mobile-landing-bg: @not-quite-grey;
@nav-links: @everton;

// Fonts
@landing-font: 'Libre Baskerville', serif;


@feature-font: sans-serif;

// Max width
@max: 1024px;
