// Media
@min500: ~"(min-width: 500px)";
@min800: ~"(min-width: 800px)";

// Colors
@black: black;
@yellow: yellow;
@green: green;
@red: red;

// Color assignments
@border: @black;
@button-bg: @green;
@button-border: @red;
@button-color: @yellow;
@font-color: @black;

// Max width
@max: 1000px;
