.footer {
    height: 100px;
    margin-top: 100px;

    .icons {
        border: 1px solid red;
        display: flex;
        justify-content: space-around;
        margin: auto;
        max-width: 150px;
        width: 100%;

        a {
            height: 30px;
            width: 30px;
        }
    }

    p {
        margin-top: 40px;
        text-align: center;
    }
}