.landing {
    margin: 135px 0 0 0; // Extra 65px to compensate for fixed header.

    @media @min600 {
        display: flex;
    }

    .landing-cta {
        background-color: @mobile-landing-bg;
        // border: 1px solid red;
        margin-top: 20px;
        padding-bottom: 120px;
        position: relative;

        @media @min600 {
            background-color: initial;
            margin-top: 0;
            width: 50%;
        }

        @media @min800 {
            width: 60%;
        }

        &:before {
          background-image: linear-gradient(to top, @mobile-landing-bg, rgb(255, 255, 255));
          display: block;
          height: 100px;
          content: "";
          width: 100%;

          @media @min600 {
              display: none;
          }
        }

        h1 {
            color: @landing-header;
            font-family: @landing-font;
            margin-top: -20px;
            text-align: center;

            @media @min600 {
                margin-top: 30px;
            }
        }

        h3 {
            color: @landing-header;
            font-family: @landing-font;
            line-height: 1.3;
            padding-top: 60px;
            text-align: center;

            @media @min600 {
                padding-top: 50px;
            }

            @media @min800 {
                padding-top: 60px;
            }
        }

        p {
            color: @landing-secondary;
            margin-top: 20px;
            text-align: center;

            @media @min600 {
                margin-top: 10px;
            }

            @media @min800 {
                margin-top: 20px;
            }
        }

        svg {
            display: block;
            margin: auto;
            margin-top: 60px;

            @media @min600 {
                margin-top: 30px;
            }

            @media @min800 {
                margin-top: 60px;
            }
        }
    }

    .landing-asset {
        // border: 1px solid red;

        @media @min600 {
            order: 1;
            width: 50%;
        }

        @media @min800 {
            display: block;
            width: 40%;
        }

        svg {
            // border: 1px solid red;
            display: block;
            margin: auto;
            max-height: 400px;
            max-width: 100%;
        }
        
    }
}